@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop1: 1024px;
  --breakpoint-laptop2: 1366px;
  --breakpoint-desktop: 1440px;

  --color-white: #fff;
  --color-ba-blue: #153244;

}

.home-info-container {
  @apply flex flex-col items-center justify-center border border-gray-300 rounded-sm shadow-xs mb-5 p-3 mx-auto max-w-[800px];
}

.title-h2 {
  @apply text-xl font-semibold text-gray-800
}

.title-class {
  @apply text-2xl font-semibold text-gray-800 bg-cyan-500 rounded-sm p-2 text-center mb-3
}

.title-afterclass {
  @apply text-2xl font-semibold text-gray-800 bg-teal-500 rounded-sm p-2 text-center mb-3
}